*{margin: 0;
padding: 0%;
box-sizing: border-box;}


.galeriaContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.galeriaDeImagenes {
    padding: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.galeriaDeImagenes figure {
    position:relative;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px
    rgba(0,0,0,0.50);
    cursor: pointer;
}

.galeriaDeImagenes figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.galeriaDeImagenes figure .capa {
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(235, 197, 230, 0.7);
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.galeriaDeImagenes figure .capa a {
    color: rgb(60, 9, 69);
}
.galeriaDeImagenes figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.galeriaDeImagenes figure:hover > .capa h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}
.galeriaDeImagenes figure:hover > img {
    transform: scale(1.3);
}
.galeriaDeImagenes figure .capa h3 {
    color: aliceblue;
    transition: all 500ms ease-out;
}
.galeriaDeImagenes figure .capa p {

    color: aliceblue;
    line-height: 1.5;
    width: 100%;
    margin: auto;

} 

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .galeriaContainer {
      display: grid;
      grid-template-columns: 1fr;
      padding: 1%;
  }
  .responsive {
    width: 100%;
  }
}




