@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .galeriaContainer {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1%;
    }
    .responsive {
      width: 100%;
    }
  }
  